
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: white !important;
}

.paging {
	width: 650px;
	height: auto;
	margin: auto;
}

p, h1, h2, h3, a{
	font-family: "Lato";
	line-height: 26px;
    text-decoration: none;
}

p, h3 {
    padding: 0px 3px;
}

ul {
	margin-left: 50px;
	margin-top: 20px;
	font-size: 18px;
	font-family: "Lato";
	line-height: 26px;
}


/*	INTRODUCTION   */

.intro_name {
	font-size: 32;
	font-weight: 700;
	margin-top: 200px;
}

.intro_name a {
    color: black;
}


.intro_location {
	font-weight: 500;
	font-size: 17px;
	color: #757575;
	margin-top: 7px;
    margin-left: 5px;
}

.intro_image {
	width: 650px;
	height: 450px;
	border-radius: 13px;
	object-fit: cover;
	object-position: 50% -0%;
	margin-top: 70px;
	transition: 0.5s;
	box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
	            0 2px 2px rgba(0,0,0,0.11), 
				0 4px 4px rgba(0,0,0,0.11), 
				0 6px 8px rgba(0,0,0,0.11),
				0 8px 16px rgba(0,0,0,0.11);
	transition: 0.4s;
}

.intro_image:hover {
	transition: 0.5s;
	margin-left: 5px;
}

.intro_image:active {
	height: 800px;
	transition: 0.4s;
}

.intro__des_title {
	margin-bottom: 20px;
    font-size: 22px;
}

.intro div {
	margin-top: 100px;
}

.intro div a,
.intro div p {
	font-size: 17px;
	font-family: "Lato";
	text-align: justify;
	margin-top: 20px;
	line-height: 26px;
}

/*	XPERIENCE	*/

.volunteer,
.experience {
	margin-top: 150px;
}

.volunteer h3,
.experience h3 {
	margin-bottom: 40px;
	font-weight: 900;
}

.volunteer p,
.experience p {
	margin-top: 30px;
	font-size: 18px;
}

/*	EDUCATION */

.education {
	margin-top: 150px;
	margin-bottom: 150px;
}
.education h3 {
	margin-bottom: 40px;
	font-weight: 700;
}

.education p {
	margin-top: 30px;
	font-size: 18px;
}


/*	ADDITIONAL SKILLS	*/

.skills {
	margin-top: 150px;
	font-size: 16px;
}

.skills h3 {
	margin-bottom: 30px;
}

.extra-projects {
	margin-top: 150px;
}


/*	FOOTER	*/

.footer{
	width: 100%;
	text-align: center;
	margin-top: 150px;
	margin-bottom:50px;
	font-weight: 700;
}


/*  CONTACT FORM    */

.contact-form__closed {
    position: fixed;
    right: 7vw;
    bottom: 5vh;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    background-color: #2F2F2F;;
    z-index: 4;
    cursor: pointer;
    transition: 0.2s;
	box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
	            0 2px 2px rgba(0,0,0,0.11), 
				0 4px 4px rgba(0,0,0,0.11), 
				0 6px 8px rgba(0,0,0,0.11),
				0 8px 16px rgba(0,0,0,0.11);
}

.contact-form__closed:hover {
    right: 6.9vw;
	box-shadow: 1.8px 1.8px 2.2px rgba(0, 0, 0, 0.052),
	    		4.3px 4.4px 5.3px rgba(0, 0, 0, 0.067),
		  		8px 8.3px 10px rgba(0, 0, 0, 0.073),
		    	14.3px 14.7px 17.9px rgba(0, 0, 0, 0.075),
			  	26.7px 27.6px 33.4px rgba(0, 0, 0, 0.073),
			    64px 66px 80px rgba(0, 0, 0, 0.07);
}

.contact-form__closed img {
    height: 20px;
    margin-top: 20px;
    margin-left: 16px;
}

.contact-form__opened {
    z-index: 4;
    position: fixed;
    right: 5vw;
    bottom: 5vh;
    border-radius: 13px;
    background-color: #FFF;
    height: 50vh;
    width: 25vw;
    transition: 0.2s;
	box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
	            0 2px 2px rgba(0,0,0,0.11), 
				0 4px 4px rgba(0,0,0,0.11), 
				0 6px 8px rgba(0,0,0,0.11),
				0 8px 16px rgba(0,0,0,0.11);
}

.contact-form__opened form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    margin-top: 5vh;
}

.contact-form__opened form input {
    margin-top: 2vh;
    height: 35px;
    outline: none;
    border: none;
    border-radius: 13px;
    padding: 5px 15px;
    background-color: #F7F7F7;
    font-family: "Lato";
    font-size: 14px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.11) inset, 
	            0 2px 2px rgba(0,0,0,0.11) inset, 
				0 4px 4px rgba(0,0,0,0.11) inset; 
}

.contact-form__opened form textarea {
    margin-top: 2vh;
    resize: none;
    outline: none;
    border: none;
    height: 20vh;
    border-radius: 13px;
    padding: 15px;
    background-color: #F7F7F7;
    font-family: "Lato";
    font-size: 14px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.11) inset, 
	            0 2px 2px rgba(0,0,0,0.11) inset, 
				0 4px 4px rgba(0,0,0,0.11) inset; 
}

.contact-form__opened img {
    height: 17px;
    position: absolute;
    top: 2vh;
    right: 1vw;
    cursor: pointerl
}

.contact-submit {
    width: 30%;
    position: absolute;
    right: 2vw;
    bottom: 5vh;
	box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
	            0 2px 2px rgba(0,0,0,0.11), 
				0 4px 4px rgba(0,0,0,0.11) !important; 
    cursor: pointer;
}

.contact-submit:hover {
    transition: 0.2s;
    right: 1.9vw;
	box-shadow: 1.8px 1.8px 2.2px rgba(0, 0, 0, 0.052),
	    		4.3px 4.4px 5.3px rgba(0, 0, 0, 0.067),
		  		8px 8.3px 10px rgba(0, 0, 0, 0.073),
		    	14.3px 14.7px 17.9px rgba(0, 0, 0, 0.075),
			  	26.7px 27.6px 33.4px rgba(0, 0, 0, 0.073),
			    64px 66px 80px rgba(0, 0, 0, 0.07);
}

@media only screen and ( max-width: 1200px) {
    .project-links {
        display: block !important;
    }
}

@media only screen and ( max-width: 700px) {

    h3 {
        font-size: 20px;
    }

    p, li, a {
        font-size: 15px !important;
        line-height: 22px !important;
    }
    .paging {
        padding: 0px 30px;
        width: 100vw;
    }

    .intro_image, 
    .painting {
        width: 100% !important;
        border-radius: 15px;
    }

    .intro_image {
        height: 50vh;
    }

    .intro_name {
        font-size: 25px;
        width: 170px;
        margin-left: 50%;
        margin-top: 10vh;
        transform: translate(-50%, -0%);
    }

    .intro_name a {
        font-size: 25px !important;
    }

    .intro_location {
        font-size: 15px !important;
        margin-top: 10px;
        width: 120px;
        margin-left: 50%;
        transform: translate(-50%, -0%);
    }

    .intro div p {
        font-size: 20px;
        
    }


    /*  CONTACT FORM */
    .contact-form__opened {
        width: 90%;
        height: 60%;
    }
}


