

/*      PROJECT PRESENTATION        */

.projects {
	margin-top: 100px;
}

.project {
    position: relative;
    display: flex;
    flex-direction: row;
	margin-top: 50px;
    width: auto;
    height: auto;
    transition: 0.5s;
}

.project-container__mobile,
.project-container {
	width: 650px;
	height: auto;
	background-color: #2F2F2F;
	color: white;
	border-radius: 13px;
	padding: 40px 60px;
	cursor: pointer;
	transition: 0.2s;
	box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
	            0 2px 2px rgba(0,0,0,0.11), 
				0 4px 4px rgba(0,0,0,0.11), 
				0 6px 8px rgba(0,0,0,0.11),
				0 8px 16px rgba(0,0,0,0.11);
}

.project-container:hover {
	background-color: #161616;
}

.project-container__mobile {
    padding: 30px 40px;
    width: 100%;
    margin-top: 30px;
}

.project-container__mobile a,
.project-container a {
	color: white;
	font-family: "Lato";
    text-decoration: underline;
}


.project-container a:hover {
	color: #CCC ;
}

.project-container h2 {
	font-size: 22px;
	margin-top: 10px;
}

.project-container__mobile h2 {
	font-size: 17px;
	margin-top: 10px;
}

.project-container h3 {
	font-size: 16px;
	font-weight: 900;
	margin-top: 3px;
	color: #AAA;
    word-spacing: 3px;
}

.project-container__mobile h3 {
	font-size: 13px;
	font-weight: 900;
	margin-top: 0px;
	color: #BBB;
}

.project-container p {
    margin-top: 5px;
	font-size: 15px;
}

.project-container:hover {
	transition: 0.5s;
	box-shadow: 1.8px 1.8px 2.2px rgba(0, 0, 0, 0.052),
	    		4.3px 4.4px 5.3px rgba(0, 0, 0, 0.067),
		  		8px 8.3px 10px rgba(0, 0, 0, 0.073),
		    	14.3px 14.7px 17.9px rgba(0, 0, 0, 0.075),
			  	26.7px 27.6px 33.4px rgba(0, 0, 0, 0.073),
			    64px 66px 80px rgba(0, 0, 0, 0.07);
}

.project-container:hover ~ .project {
	margin-left: 5px;
    transition: 0.5s;
}

.projects_expand_button {
	outline: none;
	border: none;
	width: 100%;
	height: 100px;
	background-color: transparent;
	margin-top: 50px;
	border-radius: 13px;
}


.projects_expand_button:hover {
	background-color: #eeeeee;
}

.projects_expand_button p {
    font-size: 20px;
	margin: auto;
}


/*      LINK BUTTONS     */

.project-links {
    transition: 0.5s;
    display: none;
    width: 0px;
}

.project_link__unavailable,
.project_link {
    width: 50px;
    height: 45%;
    background-color: #2f2f2f;
	background-color: #161616;
    border-radius: 13px;
    position: relative;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
                  0 2px 2px rgba(0,0,0,0.11), 
                  0 4px 4px rgba(0,0,0,0.11), 
                  0 6px 8px rgba(0,0,0,0.11),
                  0 8px 16px rgba(0,0,0,0.11);
    left: 1vw;
}

.project_link__unavailable img,
.project_link img {
    height: 25px;
    width: 30px;
    position: relative;
    top: calc( (100% - 25px)/2);
    left: calc( (50px - 30px)/2);
}

.project_link_second {
    top: 10%;
}

.project_link__unavailable {
    cursor: default;
    background-color: #6f6f6f;
}

.project_link:hover {
    transition: 0.2s;
	box-shadow: 1.8px 1.8px 2.2px rgba(0, 0, 0, 0.052),
	    		4.3px 4.4px 5.3px rgba(0, 0, 0, 0.067),
		  		8px 8.3px 10px rgba(0, 0, 0, 0.073),
		    	14.3px 14.7px 17.9px rgba(0, 0, 0, 0.075),
			  	26.7px 27.6px 33.4px rgba(0, 0, 0, 0.073),
			    64px 66px 80px rgba(0, 0, 0, 0.07);
}


.project:hover {
    width: 700px;
    margin-left: 5px;
}

.project:hover .project-links {
    transition: 0.1s;
    display: block;
}

/*	EXPANDED CONTAINER 	*/

.project_expanded {
	width: 100vw;
    position: relative;
	left: calc( (-100vw - -650px) / 2 );

	background-color: #F6F6F6;
	margin-top: 75px;
	padding: 100px;
    transition: 0.2s;
}

.project_expanded__mobile {
    width: 100vw;
    position: relative;
    left: calc( (-100vw - -100%)/2);

    background-color: #F6F6F6;
	margin-top: 75px;
	padding: 50px;
}

.expanded_restrain {
	max-width: 1920px;
	margin: auto;
}


/*	Tab Selectors*/
.tab-selector {
	width: 600px;
	margin: auto;
	margin-top: 50px;
    position: relative;
}

.tab-selector div {
	width: fit-content;
	display: flex;
	flex-direction: row;
    margin: auto;
}

.tab-selector p {
	margin-left: 50px;
	font-weight: 700;
	color: #888;
	cursor: pointer;
}

.tab-selector p:hover {
	color: #000;
}

.tab-selector p:first-of-type {
	margin-left: 0px;
}

.tab-selected {
	color: #000 !important;
}


/* Close Button */

.expanded_close {
    z-index: 3;
	position: absolute;
	height: 60px;
	width: 60px;
	border-radius: 69px;
	background-color: #FFF;
	margin-left: 85vw;
    top: 50px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
	            0 2px 2px rgba(0,0,0,0.11), 
				0 4px 4px rgba(0,0,0,0.11), 
				0 6px 8px rgba(0,0,0,0.11),
				0 8px 16px rgba(0,0,0,0.11);
}

.expanded_close:hover {
    cursor: pointer;
    transition: 0.2s;
	box-shadow: 1.8px 1.8px 2.2px rgba(0, 0, 0, 0.052),
	    		4.3px 4.4px 5.3px rgba(0, 0, 0, 0.067),
		  		8px 8.3px 10px rgba(0, 0, 0, 0.073),
		    	14.3px 14.7px 17.9px rgba(0, 0, 0, 0.075),
			  	26.7px 27.6px 33.4px rgba(0, 0, 0, 0.073),
			    64px 66px 80px rgba(0, 0, 0, 0.07);
}

.expanded_close img {
    height: 20px;
    width: 20px;
    margin-top: 20px;
    margin-left: 20px;
}


/* Images*/
.expanded_images {
	display: flex;
	flex-direction: row;
}

.expanded_about {
	width: 650px;
	min-height: 230px;
	height: auto;
	margin: auto;
	text-align: justify;
}

.expanded_about__mobile p,
.expanded_about p {
	margin-top: 20px;
}

.expanded_about__mobile {
    margin: auto;
    text-align: justify;
}

.expanded_about__mobile h3 {
    text-align: left;
}

.images {
	margin-top: 100px;
	margin-left: 1vw;
}

.expanded_images img:first-of-type {
	width: 35vw;
	vertical-align: top;
}

.expanded_images img {
	width: 9.23vw;	
	border-radius: 13px;
	margin-left: 5vw;
	box-shadow: 1.8px 1.8px 2.2px rgba(0, 0, 0, 0.052),
	    		4.3px 4.4px 5.3px rgba(0, 0, 0, 0.067),
		  		8px 8.3px 10px rgba(0, 0, 0, 0.073),
		    	14.3px 14.7px 17.9px rgba(0, 0, 0, 0.075),
			  	26.7px 27.6px 33.4px rgba(0, 0, 0, 0.073),
			    64px 66px 80px rgba(0, 0, 0, 0.07);
}


.presentation-comment {
	width: 20vw !important;	
	margin-left: 8vw !important;
}

.braket-ai {
    margin-top: 5vh;
}


/*  MOBILE  */

.project-container__mobile img {
    width: 12%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-top: 10%;
}

.mobile_links {
    display: flex;
}

.expanded_mobile_link_unavailable,
.expanded_mobile_link {
    width: 48%;
    height: 7vh;
    background-color: #2f2f2f;
    border-radius: 13px;
    margin-top: 10%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
                  0 2px 2px rgba(0,0,0,0.11), 
                  0 4px 4px rgba(0,0,0,0.11), 
                  0 6px 8px rgba(0,0,0,0.11),
                  0 8px 16px rgba(0,0,0,0.11);
}

.mobile_link_second {
    margin-left: 4%;
}

.expanded_mobile_link_unavailable img,
.expanded_mobile_link img {
    width: 27px;
    height: 25px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.expanded_mobile_link_unavailable {
    background-color: #6f6f6f;
}
